---
import { basics } from "@cv";

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;
---

<section>
  <header>
    <h1>Hola, mi<br />nombre es <b>Jaime García</b></h1>
    <div class="lines"></div>
  </header>

  <h3>{label}</h3>
  <span>
    {city}, {region}
  </span>
  <footer>
    {
      email && (
        <a
          href={`mailto:${email}`}
          title={`Enviar un correo electrónico a ${name} al correo ${email}`}
          target="_blank"
          rel="noopener noreferrer"
        />
      )
    }
  </footer>
</section>

<style>
  section header {
    position: relative;
    height: 400px;
    max-width: 100%;
  }
  h1 {
    font-size: 80px;
    font-weight: 400;
    text-shadow:
      -4px 0 #f4f9fc,
      0 4px #f4f9fc,
      4px 0 #f4f9fc,
      0 -4px #f4f9fc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .lines {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 50vw;
    height: 240px;
    background-image: url("/lines.svg");
    background-repeat: repeat;
    background-size: 11px;
    opacity: 0.6;
  }
</style>
